


#country-flag {
  max-width: 400px;
  max-height: auto;
}

body {
  background-color: grey;
  font-family: 'Playfair Display', serif;
  align-items: center;
  text-align: center;
}

#country-languages {
  list-style-type: none;
  padding: 0;
  list-style: none;
}
